{# Article Twig template #}
{{ set(this, 'title', article.title) }}

{% set sliderClass = {1: 'one', 2:'two', 3:'three', 4: 'four'}%}

{% set additionalInfo = article.additionalInfo %}
{% set network = _Network.getNetworkData() %}
<!-- Begin Article section -->
<div class="article__wrapper">
    {% if article.media | length > 0 %}
        <div class="article__slides">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        {% set index = article.media | length %}
                        {% if article.media | length > 4 %}
                            {% set index = 4 %}
                        {% endif%}
                        <div class="article__slides-content {{sliderClass[index]}}">
                            <ul>
                                {% for media in article.media %}
                                    <li class="image-covered" data-fancybox="images" style="background-image: url('{{media.path}}');"></li>
                                    {% endfor %}
                            </ul>
                            <div class="article__slides-link">
                                <a href="javascript:;">See all {{article.media | length}} Photos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="article__main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="article__main-content">
                        <div class="row">
                            <div class="col-12 col-md-8 col-lg-9">
                                <div class="article__content">
                                    <div class="highlighters">
                                        <div class="highlighters__section main">
                                            <div class="highlighters__head">
                                                {{article.title}}
                                                <span>in Keynton, Victoria</span>
                                            </div>
                                            {% if additionalInfo.type is defined %}
                                                {% set typeList = additionalInfo.type|split(',') %}
                                                <div class="highlighters__content">
                                                    <div class="tab__view tab__rounded">
                                                        <ul>

                                                            {% if 'film' in typeList %}
                                                                <li class="active channels__1">
                                                                    <a href="javascript:;">
                                                                        <span><i class="fa fa-camera"></i></span>
                                                                        Film
                                                                    </a>
                                                                </li>
                                                            {% endif %}
                                                            {% if 'photography' in typeList %}
                                                                <li class="channels__2">
                                                                    <a href="javascript:;">
                                                                        <span><i class="fa fa-camera"></i></span>
                                                                        Photography
                                                                    </a>
                                                                </li>
                                                            {% endif %}
                                                            {% if 'video' in typeList %}
                                                                <li class="channels__3">
                                                                    <a href="javascript:;">
                                                                        <span><i class="fa fa-camera"></i></span>
                                                                        Video
                                                                    </a>
                                                                </li>
                                                            {% endif %}
                                                            {% if 'events' in typeList %}
                                                                <li class="channels__4">
                                                                    <a href="javascript:;">
                                                                        <span><i class="fa fa-camera"></i></span>
                                                                        Events
                                                                    </a>
                                                                </li>
                                                            {% endif %}
                                                            {% if 'productions' in typeList %}
                                                                <li class="channels__5">
                                                                    <a href="javascript:;">
                                                                        <span><i class="fa fa-camera"></i></span>
                                                                        Productions
                                                                    </a>
                                                                </li>
                                                            {% endif %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="highlighters__section">
                                            <div class="highlighters__head">
                                                About this space
                                            </div>
                                            <div class="highlighters__content">
                                                {{ article.excerpt}} 
                                            </div>
                                        </div>
                                        <div class="highlighters__section">
                                            <div class="highlighters__head">
                                                Key Features
                                            </div>
                                            <div class="highlighters__content">
                                                {% if additionalInfo.features is defined %}
                                                    {% set featureList = additionalInfo.features|split(',') %}
                                                    {% if featureList| length > 0 %}
                                                        <ul class="listing">
                                                            {% for feature in featureList %}
                                                                <li>{{feature}}</li>
                                                                {% endfor%}
                                                        </ul>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="highlighters__section">
                                            <div class="highlighters__head">
                                                Logistics
                                            </div>
                                            <div class="highlighters__content">
                                                {% if additionalInfo.logistics is defined %}
                                                    {{additionalInfo.logistics}}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="highlighters__section">
                                            <div class="highlighters__head">
                                                Availability
                                            </div>
                                            <div class="highlighters__content">
                                                {% if additionalInfo.availability is defined %}
                                                    {{additionalInfo.availability}}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="article__form text-center">
                                    <div class="owner__info">
                                        <h3 class="owner__type">Space Owner</h3>
                                        <img src="{{network.templatePath}}/static/images/demo2.png" alt="image" class="img-fluid rounded-circle owner__image" />
                                        <h4 class="owner__name">Tom Spencer</h4>
                                    </div>
                                    <div class="owner__form">
                                        <h4>Get in touch with this owner.</h4>
                                        <div class="form-group">
                                            <label class="sr-only">Name*</label>
                                            <input class="form-control" type="text" placeholder="Name*" />
                                        </div>

                                        <div class="form-group">
                                            <label class="sr-only">Email*</label>
                                            <input class="form-control" type="email" placeholder="Email*" />
                                        </div>

                                        <div class="form-group">
                                            <label class="sr-only">Phone Number*</label>
                                            <input class="form-control" type="number" placeholder="Phone Number*" />
                                        </div>
                                        <button class="button button-grey button-block button-radius" type="submit">Inquire Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Related Spaces Here -->
                    {{this.render("partials/article/_popular_articles.twig", {articleId: article.id, network: network}) | raw }}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Begin Article section -->