{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set blogs = _Blog.getAll() %}
{% set network = _Network.getNetworkData() %}

{% set blogInfo = _Blog.get() %}
{% set network = _Network.getNetworkData() %}

{{ set(this, 'title', blogInfo.title) }}

{% set limit = 12 %}
{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}

{% set hasBlogImage = FALSE %}
{% set blogImage = "" %}
{% if blogInfo.media['cover']['id'] is not empty %}
    {% set blogImage = _Media.getMediaUrl(blogInfo.media['cover'], 1160, 600, {crop:"fill"}) %}
    {% set hasBlogImage = TRUE %}
{% endif %}    

{% set blogOwnerImage = _Media.getMediaUrl(blogInfo.owner['media'], 180, 180, {crop:"thumb", radius:"max", gravity:"face", type: "user"}) %}
{{this.registerJs("HomeController.listing();")}}
{{this.registerJs("HomeController.blog();")}}

<div class="blog">
    <div class="page__section-head text-center">
        <h1>Section 1</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section__head d-flex justify-content-center">
                    <h1>Find A Perfect Space</h1>
                </div>
                <div class="tab__view tab__rounded text-center">
                    <ul>
                        <li class="active channels__1">
                            <a href="javascript:;">
                                <span><i class="fa fa-video-camera"></i></span>
                                Film
                            </a>
                        </li>
                        <li class="channels__2">
                            <a href="javascript:;">
                                <span><i class="fa fa-camera"></i></span>
                                Photography
                            </a>
                        </li>
                        <li class="channels__3">
                            <a href="javascript:;">
                                <span><i class="fa fa-camera"></i></span>
                                Video
                            </a>
                        </li>
                        <li class="channels__4">
                            <a href="javascript:;">
                                <span><i class="fa fa-camera"></i></span>
                                Events
                            </a>
                        </li>
                        <li class="channels__5">
                            <a href="javascript:;">
                                <span><i class="fa fa-camera"></i></span>
                                Productions
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% for blog in blogs %}
                    {% set articles = _Article.getAll({"blogId": blog.id}) %}

                    {% if articles | length > 0 %}
                        <div class="card__view">
                            <div class="row">
                                {% for i in 1..4 %}
                                    {% if articles[i] is defined %}
                                        {{this.render('partials/_single-article.twig', {article: articles[i], 'position': i+1, containerClass: 'col-12 col-md-6 col-lg-3 styles__2'}) | raw}}            
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>