{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set blogs = _Blog.getAll() %}
{% set network = _Network.getNetworkData() %}
{{this.registerJs("HomeController.listing();")}}

<!-- Begin Banner section -->
<div class="banner__section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 px-0">
                <div class="banner__section-image">
                    <div class="owl-carousel owl-theme">
                        {% set templatePath = network.templatePath %}
                        <div class="item">
                            <img src="{{templatePath}}/static/images/demo2.png" class="img-fluid" alt="Image" />
                            <div class="caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                        </div>
                        <div class="item">
                            <img src="{{templatePath}}/static/images/demo2.png" class="img-fluid" alt="Image" />
                        </div>
                        <div class="item">
                            <img src="{{templatePath}}/static/images/demo2.png" class="img-fluid" alt="Image" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 px-0">
                <div class="banner__section-content">
                    <div class="top-section">
                        <h3>Book or list a perfect space</h3>
                        <div class="search-section">
                            <div class="input-group">
                                <label>Find your perfect space</label>
                                <input type="text" />
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-section">
                        <div class="bottom-section-content">
                            <h3>The digital location scout for planet earth.</h3>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <a class="button" href="javascript:;">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Begin Banner section -->
<div class="clearfix"></div>
<!-- Begin Body section -->
<div class="page__body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section__head d-flex justify-content-center">
                    <h1>Find A Perfect Space</h1>
                </div>
                <div class="tab__view tab__rounded text-center">
                    <ul>
                        <li class="active channels__1">
                            <a href="javascript:;">
                                <span><i class="fa fa-video-camera"></i></span>
                                Film
                            </a>
                        </li>
                        <li class="channels__2">
                            <a href="javascript:;">
                                <span><i class="fa fa-camera"></i></span>
                                Photography
                            </a>
                        </li>
                        <li class="channels__3">
                            <a href="javascript:;">
                                <span><i class="fa fa-camera"></i></span>
                                Video
                            </a>
                        </li>
                        <li class="channels__4">
                            <a href="javascript:;">
                                <span><i class="fa fa-camera"></i></span>
                                Events
                            </a>
                        </li>
                        <li class="channels__5">
                            <a href="javascript:;">
                                <span><i class="fa fa-camera"></i></span>
                                Productions
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% for blog in blogs %}
                    {% set articles = _Article.getAll({"blogId": blog.id}) %}
                    
                    {% if articles | length > 0 %}
                        <div class="card__view">
                            <div class="section__head d-flex no-lineHeight">
                                <h2 class="fullwidth">{{blog.title}}- {{articles | length}}</h2>
                                <span class="d-flex fullwidth justify-content-end align-self-end section__head-rightAlign"><a href="javascript:;">See all</a></span>
                            </div>
                            <div class="row">
                                {% for i in 1..4 %}
                                    {% if articles[i] is defined %}
                                        {{this.render('partials/_single-article.twig', {article: articles[i], 'position': i+1, containerClass: 'col-12 col-md-6 col-lg-3 styles__2'}) | raw}}            
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div> 