{{ set(this, 'title', _Blog.getBlogTitle()) }}

{% set network = _Network.getNetworkData() %}

{% set limit = 20 %}
{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}

{{this.registerJs("HomeController.listing();")}}
<div class="blog">
    <div class="page__section-head text-center">
        <h1>{{_Blog.getBlogTitle() | capitalize}}</h1>
    </div>
    <div class="container-fluid">
        {{this.render("partials/_find-perfect-space.twig") | raw}}
        <div class="row">
            <div class="col-12">
                {% if articles|length > 0 %}
                    <div class="card__view">
                        <div class="row ajaxArticles" data-existing-nonpinned-count="{{articlesArr.existingNonPinnedCount}}" data-offset="{{limit}}">
                            {% for i in 0..(articles|length - 1) %}
                                {% if articles[i] is defined %}
                                    {{this.render('partials/_single-article.twig', {article: articles[i], 'position': (i+1), class: 'col-12 col-md-6 col-lg-3'}) | raw}}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                
                {% if articles|length >= limit %}
                    <div class="text-center">
                        <a href="javascript:void(0)" class="button button-grey loadMoreArticles"><i class="fa fa-arrow-down"></i>&nbsp;Load More</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>