{% set details = _Blog.getHomeBlogSettings() %}

{{_AppHelper.printArray(companyDetails)}}
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="footer__content">
                    <figure class="footer__content-logo">
                        {% set footerLogo = network.templatePath~'/static/images/footer-logo.png' %}
                        {% set footerLogoUrl = network.networkLogoLinkUrl %}
                        {% if network.logoMedia | length > 0 %}
                            {% set footerLogo = _Media.getMediaUrl(network.logoMedia, 177, 65, {'crop': 'limit'} )%}
                        {% endif %}
                        <a href="{{footerLogoUrl}}">
                            <img src="{{footerLogo}}" class="img-fluid" alt="footer logo" />
                        </a>
                    </figure>
                </div>
            </div>
           
            <div class="col-12 col-md-4 col-lg-2">
                <div class="footer__content">
                    <div class="footer__content-listing">
                        <h3><a href="javascript:;">About Us</a></h3>
                        <ul>
                            {% set menuItems = blogData.blogFooterMenu %}
                            {% for i in 0..(menuItems|length -1) %}
                                {% if menuItems[i] is defined %}
                                    {% set menuItem = menuItems[i] %}
                                    <li>
                                        <a class="footer__additional-link" href="{{menuItem.link}}">{{ ((menuItem.label is empty) ? ((menuItem.pageTitle is empty)? menuItem.blogTitle : menuItem.pageTitle) : menuItem.label )}}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}   
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-2">
                <div class="footer__content">
                    <div class="footer__content-listing">
                        <h3>The Spaces</h3>
                        <ul>
                            {% if not _User.isGuest()%}
                                <li><a href="/admin/article/create">List A Space</a></li>
                            {% endif %}
                                <li><a href="javascript:;">Find A Space</a></li>
                            {% if not _User.isGuest()%}
                                <li><a href="/user/my-news">Your Spaces</a></li>
                            {% endif %}
                            <li><a href="javascript:;">Contact</a></li>
                            <li><a class="header__login__link header__login__link--signup sign-up__link" href="javascript:;">Sign Up</a></li>
                            <li><a class="header__login__link" href="javascript:;">Login</a></li>      
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="footer__content">
                    <div class="footer__content-listing">
                        <h3>The Spaces</h3>
                        <p>&copy; {{details.contact['name']}}</p>
                        <p>{{details.contact['phone']}}</p>
                        <p><a href="mailto:{{details.contact['email']}}">{{details.contact['email']}}</a></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2">
                <div class="footer__content">
                    <div class="footer__content-listing social">
                        <h3>We're Social</h3>
                        <ul>
                            {% if details.social['facebook'] is not empty %}
                                <li><a href="{{details.social['facebook']}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            {% endif %}
                            {% if details.social['instagram'] is not empty %}
                                <li><a href="{{details.social['instagram']}}" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            {% endif %}
                            {% if details.social['pinterest'] is not empty %}
                                <li><a href="{{details.social['pinterest']}}" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                            {% endif %}
                            {% if details.social['twitter'] is not empty %}
                                <li><a href="{{details.social['twitter']}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>