{% set network = _Network.getNetworkData() %}

{% set blog = _Blog.getBlog() %}
{{ this.beginPage() }}
<!doctype html>
<html class="no-js">
    <!-- Begin Global Header -->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <title>{{this.title | raw}}</title>
        {{ Html.csrfMetaTags | raw }}

        {% set favicon = ''%}
        {% if network.favMedia | length > 0 %}
            {% set favicon = _Media.getMediaUrl(network.favMedia, 80, 80)%}
        {% endif %}

        {% if favicon != '' %}
            <link rel="shortcut icon" href="{{favicon}}" />
            <link rel="icon" href="{{favicon}}" sizes="any" type="image/svg+xml" />
        {% endif %}
        <!-- Stylesheet -->
        {% if _AppHelper.getApplicationEnv() == 'PROD'%}
            <link rel="stylesheet" href="{{network.templatePath}}/static/deploy/output.min.css?rel=1502620010403" type="text/css" media="all">
        {% else %}
            <link type="text/css" rel="stylesheet" href="{{network.templatePath}}/static/css/vendors.css" />
            <link type="text/css" rel="stylesheet" href="{{network.templatePath}}/static/css/default.css" media="screen" />
        {% endif %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"> 
        {{ this.head() }}
    </head>

    <!-- //End Global Header -->
    <body class="{{bodyClass}}">
        {{ this.beginBody() }}
        <div class="mega-width">
            {{ this.render('partials/_header.twig', {network: network, blog: blog}) | raw }}
            <div class="clearfix"></div>

            {{ content | raw}}

            <div class="clearfix"></div>
            {{ this.render('partials/_footer.twig', {network : network, blog: blog}) | raw }}


        </div>

        <div id="popup-overlay"></div>
        {{this.render('partials/account-modal.twig',{network : networkData}) | raw }}
        {{ this.render('partials/_javascript.twig', {network : network}) | raw }}
        {{ this.endBody() }}
    </body>
</html>
{{ this.endPage() }}